html, body {
  font-family: 'Times New Roman', 'sans-serif';
  color: rgb(0,0,0);
  background-color: #FFFFFF;
}


#text {
	font-family: 'Times New Roman', 'PMingLiU;';
	font-size: 25px;
	margin-top: 50px;
	visibility: visible;
	text-align:center; 
	font-weight:bold;
}

#text1{
	font-family: 'Times New Roman', 'PMingLiU;';
	font-size: 25px;
	margin-top: 200px;
	margin-left: 50px;
	text-align:left; 
	font-weight:bold;
}

#state {
	font-family: 'Times New Roman', 'PMingLiU;';
	font-size: 25px;
	margin-top: 50px;
}

#pump , #collect {
	font-family: 'Times New Roman', 'PMingLiU;';
	background-color:#ffffff;
	text-align:center;
	position: relative;
	border-style:none;
	border:0px;
	top:50px;
}

#button,#button_start ,#button_final {
	font-family: 'Times New Roman', 'PMingLiU;';
	background-color:#cc0000;
	font-weight:bold;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	font-size: 30px;
	position: relative;
}

#button_start:hover{
	background-color: #00cccc;
	color:#000000;
}